.container {
    font-size: 1.4rem;
    margin-top: 25px;
    font-family: 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
}

.title {
    color: #366cff;
    font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
    font-size: 1.8rem !important;
    font-weight: bold;
}

.instructions {
    font-size: 1.2rem;
    font-family: 'Helvetica Neue Regular', Helvetica, Arial, sans-serif;
}

.container button {
    border-radius: 14px;
    font-size: 1.3rem;
    height: 45px;
}

.container button:active,
.container button:focus {
    background-color: #0b1dfd;
}

.bumpInstructions {
    padding-left: 3vw;
    padding-right: 3vw;
}

.setButton,
.clearButton {
    padding: inherit;
    font-size: 1.2rem !important;
    vertical-align: middle;
    text-align: center;
    width: 90px;
}

.increaseButton {
    width: 100%;
    margin: 5px 0;
    font-size: 1.2rem !important;
    padding: auto;
    text-align: center;
    height: 40px !important;
}

.timeInput {
    text-align: center;
    font-size: 1.6rem;
}
