.Clock {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    background-color: #EDEDED;
    border-radius   : 5px;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.1);
    font-family     : "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
    font-size       : 4rem;
}
